<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>The Home Page <%= Math.floor((Math.random() * 10) + 1); %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti
      sed nisi quas. Dolore quisquam aliquam eligendi expedita amet, provident,
      doloribus molestias a blanditiis omnis corporis ex. Cupiditate, doloremque
      officia!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem impedit
      vitae incidunt nemo voluptatem earum, perspiciatis animi sit maxime
      corporis molestiae, eius modi alias soluta inventore omnis? At, temporibus
      fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad
      maiores expedita quibusdam aut facilis unde mollitia nulla animi dicta
      nesciunt facere, cum molestiae error quo provident at, vel officiis?
    </p>
  </body>
</html>
